---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Elijah Lieu's Portfolio" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="dark:bg-black dark:text-white">
        <slot />
    </body>
</html>

<style is:global>
    .dark body {
        scrollbar-color: theme("colors.secondary.1") theme("colors.black");
    }

    body {
        scrollbar-color: theme("colors.primary.1") theme("colors.white");
    }

    *::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
    }
    *::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    *::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gradient-to-b from-primary-1 to-primary-2;
    }

    ul::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-r;
    }

    .dark *::-webkit-scrollbar-thumb {
        @apply from-secondary-2 to-secondary-1;
    }
</style>
